{% extends 'nav.html' %}

{% block cssimp %}
<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<link rel="stylesheet" href="/static/css/home.css">
{{ super() }}
{% endblock %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<header>
    <h1>My Flash Cards</h1>
    <div class="hr-container-home-page">
        <hr>
    </div>
</header>
    
<!-- <article class="container-home-page"> -->
    
<section class="deck-container-home-page">
    <form id="search">
        <div>
            <input type="text" placeholder="search...">
            <img src="/static/image/search-icon.png" id="search-btn" alt="Click to Search">
        </div>
    </form>
    
    <!-- static sample -->
    <div class="deck-home-page">
        <div class="deck-bg">
            <!-- <div class="box">
            <div class="profile">
                <img class="profile-icon" src="/static/image/profile-icon.png" alt="">
                <span class="people">Johnny007</span>
            </div>
            <div class="description"><h4 id="nameD" class="deckName">Irregular Verbs</h4><h5 class="cardNum">25 Cards</h5></div>
            <button class="button">Preview</button>
        </div> -->
            <!-- <span>Animal</span> -->
        </div>
        <div class="block"></div>
    </div>
</section>

<div class="add-footer">
    <button onclick="onAdd();" type="button">+</button>
</div>

{% endblock %}
{% block script %}
<script src="/static/js/home.js"></script>
{{ super() }}
{% endblock %}