{% extends 'base.html' %}

{% block cssimp %}
<link rel="stylesheet" href="/static/css/nav.css">
{% endblock %}

{% block nav %}
<nav>
    <a href="/">
        <h1>Banana Choco</h1>
    </a>

    <div class="ham">
        <div class="in-ham"></div>
        <div class="in-ham"></div>
        <div class="in-ham"></div>
    </div>
    <ul class="mobile-tab">
        <li>Menu <div class="underline"></div></li>
        <li>Home</li>
        <li>Explore</li>
        <li>Log Out</li>
    </ul>
</nav>
{% endblock %}