{% extends 'nav.html' %}

{% block cssimp %}
<link rel="stylesheet" href="/static/css/play.css">
{{ super() }}
{% endblock %}

{% block title %}
Play
{% endblock %}

{% block content %}
<!-- <header>
    <h1>Banana Choco</h1>
</header> -->
<div class="deck-name">Deck Name</div>
<div class="number">1/25</div>
<div class="cards">
    <div class="card-name">Cat</div>
    <button id="show-btn" type="button">Show</button>
</div>
<!-- <div class="card-name">Cat</div> -->
<div class="BackNextClose">
    <button id="back-btn" type="button">Back</button>
    <button id="next-btn" type="button">Next</button>
    <button id="close-btn" type="button">close</button>
</div>
{% endblock %}