{% extends 'nav.html' %}

{% block cssimp %}
{{ super() }}
<link rel="stylesheet" href="/static/css/play.css">
<script src="https://code.jquery.com/jquery-3.5.0.js"></script>
{% endblock %}

{% block title %}
Play
{% endblock %}

{% block content %}
<!-- <header>
    <h1>Banana Choco</h1>
</header> -->
<!-- <body onload="getWord()"> -->
<div class="deck-name">{{ deck_data.name }}</div>
<!-- <h1>DN</h1> -->
<main>
    <div class="cards">
        <div id="card-show" class="card-name"></div>
        <!-- <h2>CN</h2> -->
        <button id="show-btn" type="button">Show</button>
    </div>
    <div class="BackNextClose">
        <button id="back-btn" type="button">Previous</button>
        <button id="next-btn" onclick="next()" type="button">Skip</button>
        <button id="close-btn" onclick="window.location.href = '/'" type="button">Quit</button>
    </div>
</main>

{% endblock %}
{% block script %}
<script>
    var deck_data = {{ deck_data|tojson }}
</script>
<script src="/static/js/play.js"></script>
{% endblock %}