body {
    background-color: var(--banana-color) !important
}

.topic {
    max-width: 100%;
    height: 42px;
    flex-shrink: 0;
    color: var(--choco-color);
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 10px
}

.title {
    color: var(--choco-color);
    text-align: left;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-left: 10vw;
    margin-top: 2.5vh;
}

hr.divider {
    width: 320px;
    height: 8px;
    background-color: var(--choco-color);
    /* align-items: center */
    /* display: flex; */
    opacity: 1;
    border-radius: 15px 15px 15px 15px;
    margin-bottom: 25px;
    
}

.boxSearch {
    background: var(--choco-color);
    color: var(--banana-color);
    /* text-align: left; */

    /* margin: auto; */
    width: 90%;
    /* height: 39px; */
    /* flex-shrink: 0; */
    border-radius: 30px;
    
}

/* .search-icon {
    align-items: right;
} */