li {
    background-color: aqua;
}

div.test {
    width: 100%;
}

/* div.test > img {
    width: 30%;
    filter: brightness(0) saturate(100%) invert(14%) sepia(57%) saturate(7247%) hue-rotate(2deg) brightness(103%) contrast(124%);
} */